:root {
  --base: #FF0000;
  --base2: #FFFFFF;
  --spacing: 10px;
  --spacing2: 25px;
  --blur: 10px;
  --blur2: 5px;
}

.carter {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.derozan {
  padding: var(--spacing2);
  background: var(--base2);
  filter: blur(var(--blur2));
}

.hl {
  color: var(--base);
}

/*
  misc styles, nothing to do with CSS variables
*/

body {
  text-align: center;
  background: #202028;
  color: #FFF;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 20px;
}

.controls {
  margin-bottom: 50px;
}

input {
  width:100px;
}
